{erl_opts, [
   {parse_transform, lager_transform}
]}.

{lib_dirs, []}.

{deps, [
   lager,
   datum,
   pipes,
   jsx,

   {knet,  ".*",
      {git, "https://github.com/kfsm/knet", {branch, master}}
   },

   {restd,  ".*",
      {git, "https://github.com/kfsm/restd", {branch, master}}
   },

   {pns,  ".*",
      {git, "https://github.com/fogfish/pns", {branch, master}}
   }
]}.
